.menu {
  display: flex;
  align-items: center;
  max-width: 2000px;

}

.desktop-img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  max-height: 100vh;
  width: auto;
  height: auto;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  
  border: 5px solid #C5B358;
  box-sizing: border-box;
}

.mobile-img {
  display: none;
}

@media (max-width: 1550px) {
  .desktop-img {
    display: none;
  }
  .mobile-img {
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 2000px;
  margin:  auto;
  box-sizing: border-box;
  }
}
