<div class="app-wrapper">
  <div>
  <header>
    <div class="bottom-section">
      <div class="logo-container">
        <a routerLink="/"><img src="lucky-joes-logo2.png" class="logo" /></a>
      </div>
    
      <!-- Desktop Nav -->
<div class="nav-row">
  <div class="nav-group nav-left">
    <a href="#">Merch</a>
    <a routerLink="/menu">Menu</a>
    <a routerLink="/drinks">Drinks</a>
  </div>

  <!-- spacer to reserve space for logo -->
  <div class="nav-spacer"></div>

  <div class="nav-group nav-right">
    <a href="/calendar">Events</a>
    <a href="#">Hours</a>
    <a href="#">Contact</a>
  </div>
</div>
    <div class="mobile-dropdown-toggle" (click)="toggleDropdown()">
      &#97754;
    </div>
        @if (dropdownOpen) {
      <div class="mobile-dropdown-menu" (click)="closeDropdown()">
        <a routerLink="/calendar">Events</a>
        <a routerLink="/menu">Food</a>
        <a routerLink="/drinks">Drinks</a>
        <a href="#">Merch</a>
        <a href="#">Hours</a>


      
      </div>
    }
  </div>
  
    <!-- Mobile Hamburger Button -->
    <!-- <div class="mobile-dropdown-toggle" (click)="toggleDropdown()">
      &#97754;
    </div> -->

    @if (dropdownOpen) {
      <div class="mobile-dropdown-menu" (click)="closeDropdown()">
        <a routerLink="/calendar">Events</a>
        <a routerLink="/menu">Food</a>
        <a routerLink="/drinks">Drinks</a>
        <a href="#">Merch</a>
        <a href="#">Hours</a>


      
      </div>
    }
    
  </header>

  <!-- Main content that fills the available space -->
  <main class="content">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer remains at the bottom -->
  <footer class="footer-note">
    <p>(970) 493-2213</p>
    <p>25 Old Town Square Fort Collins CO, 80524</p>
  </footer>
</div>
