.main-images {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0rem 0rem;
}

.main-images img {
  width: 48%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.container {
  display: flex;
  height: auto;
}

.text-section {
  text-align-last: center;

}

.heading{
font-size: 6rem;
margin-top: 0;
margin-bottom: 0;

}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .photo-section, .text-section {
    width: 100%;
  }

  .slideshow-img {
    height: auto;
  }
}

.photo-section {
  flex: 2;
  overflow: hidden;
  height: auto;
}

.photo-section img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.slideshow-section {
  flex: 2; /* 2/3 of the width */
  overflow: hidden;
  height: auto
}

.text-section {
  flex: 1; /* 1/3 of the width */
  color: #C5B358;
  padding: 2rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1vw;
  border: 3px solid #C5B358;
}
.text-section-top {
  flex: 1; /* 1/3 of the width */
  color: #C5B358;
  padding: 2rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
   font-size: 2vw;
  border: 3px solid #C5B358;
  border-top: none;
}
.text-section-bottom {
  flex: 1; /* 1/3 of the width */
  color: #C5B358;

  padding: 2rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
   font-size: 1vw;;
  border: 3px solid #C5B358;
  border-bottom: none;
}
