body, html {
  height: 60%;
  margin: 0;
}
.heading {
  font-size: 10vh;
  color: #C5B358;   /* 👈 or any contrasting color */
  display: block;
  margin: 1rem 0;
  text-align: center; /* optional */
  padding-top: 3rem;
}

.page-content {
  min-height: 100vh; /* full height */
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  flex-direction: column;
  padding: 0rem;
   color:rgba(236, 230, 133, 0.913);
   font-size: 3rem;
}

.logo{
  max-width: 100%;  /* Scale down if needed */
  height: auto;     /* Maintain aspect ratio */
  width: 650px;     /* Set desired width (adjust as needed) */
}

.merch-wrap{
  margin: 5%;
}


.shopify-buy__cart-item__title a {
  color: #C5B358 !important;
  opacity: 1 !important;
  text-decoration: none !important;
}

@media (max-width: 1550px) {
.heading{
  font-size: 8vh;
}

}