/* Global styles */
body {
  background: url('../public/old-map-1920x1080.png') repeat center center;
  font-family: 'Lobster', cursive;
    margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* outline: 2px solid red; */
  width: 100%;
}
* {
  box-sizing: border-box;
}

