/* Global styles */
body {
  background: url('C:\Users\Wesjo\Documents\Lucky Joes\lucky-joes-site\public\old-map-1920x1080.png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Lobster', cursive;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}
* {
  box-sizing: border-box;
}